<!doctype html>
<html>
  <head>
    <title>Database Lookup Website</title>
    <meta name="google" content="notranslate">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <style>
      div {
            margin: 10px 10px 10px;
          }
      ul { 
            padding: 0;
            margin: 0;
          }
      pre {
            margin:0;
            padding:0;
          }
      hr.solid {
              border: 1px solid black;
          }
</style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
      <a class="navbar-brand"><img src="../static/kocher-lab-green-70px.png" width="100"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="../gene/{{ Gene_ID }}">Gene</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../orthologs-lookup/{{ Gene_ID }}">Orthologs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../mrna-lookup/{{ Gene_ID }}">mRNA</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="../protein-lookup/{{ Gene_ID }}">Protein</a>
          </li>
        </ul>
      </div>
    </nav>
    <div>
      {% if protein_data_list|length > 1 %}
        <h6><b>{{Gene_ID}}: </b><font face="Courier New"><a href="/gene-proteinFasta/{{ Gene_ID }}">Download FASTA</a></font></h6>
        <hr class="solid">
        {% for protein_data in protein_data_list %}
          <pre><font face="Courier New"; size="2">{{ protein_data.Sequence }}</font></pre>
         <font face="Courier New"; size="2"> <a href="/trans-proteinFasta/{{ protein_data.Transcript_ID }}">Download FASTA</a></font>
          <hr>
        {% endfor %}
      {% else %}
        <h6><b>{{Gene_ID}}: </b><font face="Courier New"><a href="/gene-proteinFasta/{{ Gene_ID }}">Download FASTA</a></font></h6>
        <hr class="solid">
        <pre><font face="Courier New"; size="2">{{ protein_data_list[0].Sequence }}</font></pre>
        <font face="Courier New"; size="2"><a href="/trans-proteinFasta/{{ protein_data_list[0].Transcript_ID }}">Download FASTA</a></font>
      {% endif %}
    </div>
  </body>
</html>